#root, body {
  text-align: center;
  color: white;
  overflow-x: hidden;
}

body {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}