#nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  font-size: 16px;
  color: #ffffff;
  padding: 0 2rem;
}

.nav-link-active {
  font-weight: bold;
  text-decoration: underline;
  color: #ffc1f5;
}

@media screen and (max-width: 768px) {
  #nav {
    margin-right: 0;
  }
  .nav-item {
    font-size: 14px;
    padding: 0 1rem 0.75rem 1rem;
  }
}